<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NAME YOUR SPELL DATABASE</title>
    <script src="vue/dist/vue.js"></script>
    <style>
        input[type="text"] {
            width: 100px;
        }

        input[type="number"] {
            width: 50px;
        }

        #header {
            border-bottom: 1px solid #000;
            margin-bottom: 10px;
        }

        table {
            border: 1px solid #000;
        }

        .scaling-label {
            float: left;
            width: 35px;
            padding: 5px 0;
        }
    </style>
</head>

<body>
    <div id="app" style="display: none;">
        <section id="header">
            <h1 style="margin: 0">
                NAME YOUR SPELL DB
            </h1>
            <span v-for="page, i in pages"><a href="javascript:void(0)" @click="changePage(page.key)">{{ page.name }}</a>
                {{ i !== pages.length - 1 ? '-' : '' }} </span>
            <br>
            <div style="font-size: .7em; margin-top: 5px;">
                <a href="javascript:void(0)" @click="saveToBrowser">Speichern</a> -
                <a href="javascript:localStorage.clear();location.reload();" @click="saveToBrowser">(Clear Storage)</a> -
                <a :href="downloadString" download="nys-db.json">Download</a> -
                <a href="javascript:void(0)" @click="onLoadClick">Laden</a>
                <input type="file" ref="file" @change="onFileLoad" style="display: none;">
            </div>
        </section>
        <h2>{{ page.toUpperCase() }}</h2>
        <section v-if="page == 'home'">
            <p>Das ist die Datenbanksoftware von <i>Name Your Spell</i>!</p>
            <p>Oben kann man zwischen den Dateneinträgen switchen und mit dem Speichern/Laden Link kann man die Datenbank
                speichern oder laden.</p>
            <p>Das ist keine permanente Lösung, aber damit kann ich schonmal anfangen die Daten zusammenzutragen</p>
        </section>
        <section v-if="page == 'words'">
            <table v-if="data[page].length">
                <tr>
                    <th>Name</th>
                    <th>Element</th>
                    <th>Effekt</th>
                    <th>Manipulator</th>
                    <th>Finisher-Ziel</th>
                    <th>Skalierung</th>
                    <th></th>
                </tr>
                <tr v-for="el, i in data[page]">
                    <td>
                        <input type="text" v-model="el.name">
                    </td>
                    <td>
                        <select v-model="el.element">
                            <option :value="null">-- Bitte auswählen --</option>
                            <option v-for="label, prop in elementTypes" :value="prop">{{ label }}</option>
                        </select>
                    </td>
                    <td>
                        <span v-for="effect in el.effects">
                            <select v-model="effect.type">
                                <option :value="null">-- Bitte auswählen --</option>
                                <option v-for="type, prop in effectTypes" :value="prop">{{ type }}</option>
                            </select>
                            <select v-model="effect.buff" v-if="effect.type == 'buff'">
                                <option :value="null">-- Bitte auswählen --</option>
                                <option v-for="buff in data.buffs" :value="buff.id">{{ buff.name }}</option>
                            </select>
                            <button @click="removeEffect(el, effect)">
                                &times;
                            </button>
                            <br>
                        </span>
                        <button @click="addEffect(el)">
                            Effekt hinzufügen
                        </button>
                    </td>
                    <td>
                        <span v-for="manipulator in el.manipulators">
                            <select v-model="manipulator.type">
                                <option :value="null">-- Bitte auswählen --</option>
                                <option v-for="type, prop in effectTypes" :value="prop">{{ type }}</option>
                            </select>
                            <select v-model="manipulator.buff" v-if="manipulator.type == 'buff'">
                                <option :value="null">-- Bitte auswählen --</option>
                                <option v-for="buff in data.buffs" :value="buff.id">{{ buff.name }}</option>
                            </select>
                            <button @click="removeManipulator(el, manipulator)">
                                &times;
                            </button>
                            <br>
                        </span>
                        <button @click="addManipulator(el)">
                            Manipulator hinzufügen
                        </button>
                    </td>
                    <td>
                        <select v-model="el.finisherTarget">
                            <option value="self">Selbst</option>
                            <option value="team">Team</option>
                            <option value="single">Gegner (Einzeln)</option>
                            <option value="aoe">Gegner (Alle)</option>
                        </select>
                    </td>
                    <td>
                        <div class="scaling-label">{{ parseInt(el.powScaling * 100, 10) }}%</div>
                        <input v-model="el.powScaling" type="range" step=".01" min="0" max="1">
                    </td>
                    <td>
                        <button @click="duplicate(page, i)">+</button>
                        <button @click="swap(page, i, i - 1)" :disabled="i - 1 == -1">&uarr;</button>
                        <button @click="swap(page, i, i + 1)" :disabled="i + 1 == data[page].length">&darr;</button>
                        <button @click="remove(page, el)">&times;</button>
                    </td>
                </tr>
            </table>
            <p v-else>
                Keine Wörter vorhanden
            </p>
            <p>
                <button @click="addWord">Wort hinzufügen</button>
            </p>
        </section>
        <section v-if="page == 'buffs'">
            <table v-if="data[page].length">
                <tr>
                    <th>Name</th>
                    <th>Dauer</th>
                    <th>Stackbar</th>
                    <th>Skalierung</th>
                    <th>Tick-Effekt</th>
                    <th>End-Effekt</th>
                    <th>Stack-Effekte</th>
                    <th></th>
                </tr>
                <tr v-for="el, i in data[page]">
                    <td>
                        <input type="text" v-model="el.name">
                    </td>
                    <td>
                        <input type="number" min="1" v-model="el.duration">
                    </td>
                    <td>
                        <input type="checkbox" v-model="el.stackable">
                    </td>
                    <td>
                        <div class="scaling-label">{{ parseInt(el.powScaling * 100, 10) }}%</div>
                        <input v-model="el.powScaling" type="range" step=".01" min="0" max="1">
                    </td>
                    <td>
                        <select v-model="el.onTick.type">
                            <option :value="null">-- Nichts --</option>
                            <option v-for="type, prop in effectTypes" :value="prop">{{ type }}</option>
                        </select>
                        <select v-model="el.onTick.buff" v-if="el.onTick.type == 'buff'">
                            <option :value="null">-- Bitte auswählen --</option>
                            <option v-for="buff in data.buffs" :value="buff.id">{{ buff.name }}</option>
                        </select>
                    </td>
                    <td>
                        <select v-model="el.onEnd.type">
                            <option :value="null">-- Nichts --</option>
                            <option v-for="type, prop in effectTypes" :value="prop">{{ type }}</option>
                        </select>
                        <select v-model="el.onEnd.buff" v-if="el.onEnd.type == 'buff'">
                            <option :value="null">-- Bitte auswählen --</option>
                            <option v-for="buff in data.buffs" :value="buff.id">{{ buff.name }}</option>
                        </select>
                    </td>
                    <td>
                        <span v-for="effect in el.onStack" v-if="el.stackable">
                            <input type="number" v-model="effect.threshold">
                            <select v-model="effect.type">
                                <option :value="null">-- Bitte auswählen --</option>
                                <option v-for="type, prop in effectTypes" :value="prop">{{ type }}</option>
                            </select>
                            <select v-model="effect.buff" v-if="effect.type == 'buff'">
                                <option :value="null">-- Bitte auswählen --</option>
                                <option v-for="buff in data.buffs" :value="buff.id">{{ buff.name }}</option>
                            </select>
                            <button @click="removeStackEffect(el, effect)">
                                &times;
                            </button>
                            <br>
                        </span>
                        <button @click="addStackEffect(el)" :disabled="!el.stackable">
                            Stack-Effekt hinzufügen
                        </button>
                    </td>
                    <td>
                        <button @click="duplicate(page, i)">+</button>
                        <button @click="swap(page, i, i - 1)" :disabled="i - 1 == -1">&uarr;</button>
                        <button @click="swap(page, i, i + 1)" :disabled="i + 1 == data[page].length">&darr;</button>
                        <button @click="remove(page, el)">&times;</button>
                    </td>
                </tr>
            </table>
            <p v-else>
                Keine Buffs vorhanden
            </p>
            <p>
                <button @click="addBuff">Buff hinzufügen</button>
            </p>
        </section>
        <section v-if="page == 'entities'">
            <table v-if="data[page].length">
                <tr>
                    <th>Name</th>
                    <th>HP</th>
                    <th>Power</th>
                    <th>Feuer</th>
                    <th>Wasser</th>
                    <th>Erde</th>
                    <th>Wind</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr v-for="el, i in data[page]">
                    <td>
                        <input type="text" v-model="el.name">
                    </td>
                    <td>
                        <input type="number" min="0" v-model="el.hp">
                    </td>
                    <td>
                        <input type="number" min="0" v-model="el.power">
                    </td>
                    <td>
                        <input type="number" v-model="el.elementalPower.fire">
                    </td>
                    <td>
                        <input type="number" v-model="el.elementalPower.water">
                    </td>
                    <td>
                        <input type="number" v-model="el.elementalPower.wind">
                    </td>
                    <td>
                        <input type="number" v-model="el.elementalPower.earth">
                    </td>
                    <td>
                        <button @click="editEntityKnowledge(el)">
                            Wortwissen bearbeiten
                        </button>
                        <button @click="editEntityInventory(el)">
                            Inventar bearbeiten
                        </button>
                    </td>
                    <td>
                        <button @click="duplicate(page, i)">+</button>
                        <button @click="swap(page, i, i - 1)" :disabled="i - 1 == -1">&uarr;</button>
                        <button @click="swap(page, i, i + 1)" :disabled="i + 1 == data[page].length">&darr;</button>
                        <button @click="remove(page, el)">&times;</button>
                    </td>
                </tr>
            </table>
            <p v-else>
                Keine Entitäten vorhanden
            </p>
            <p>
                <button @click="addEntity">
                    Entität hinzufügen
                </button>
            </p>
        </section>
        <section v-if="page == 'entityKnowledge' && detailItem">
            <h2>{{ detailItem.name }}'s Wortwissen</h2>
            <table v-if="detailItem.knowledge.length">
                <tr>
                    <th>Wort</th>
                    <th>Erfahrung</th>
                    <th></th>
                </tr>
                <tr v-for="knowledge, i in detailItem.knowledge">
                    <td>
                        <select v-model="knowledge.wordId">
                            <option :value="null">-- Bitte wählen --</option>
                            <option v-for="word in data.words" :value="word.id">{{ word.name }}</option>
                        </select>
                    </td>
                    <td>
                        <div class="scaling-label">{{ parseInt(knowledge.experience * 100, 10) }}%</div>
                        <input v-model="knowledge.experience" type="range" step=".01" min="0" max="1">
                    </td>
                    <td>
                        <button @click="removeKnowledge(detailItem, knowledge)">&times;</button>
                    </td>
                </tr>
            </table>
            <p v-else>
                Kein Wortwissen vorhanden
            </p>
            <p>
                <button @click="addKnowledge(detailItem)">
                    Wort hinzufügen
                </button>
                <button @click="page = 'entities'">
                    Zurück zu den Entitäten
                </button>
            </p>
        </section>
        <section v-if="page == 'entityInventory'">

        </section>
    </div>
    <script src="script.js"></script>
</body>

</html>
